{%extends 'base.html' %}
{%load static%}
{%block body%}
<!--single-page-->
<div class="single-page main-grid-border">
    <div class="container">
        <ol class="breadcrumb" style="margin-bottom: 5px;">
            <li><a href="index.html">Home</a></li>
            <li><a href="{% url 'products:product_list'%}">All Ads</a></li>
            <li class="active">{{product_details.category}}</li>
        </ol>
        <div class="product-desc">
            <div class="col-md-7 product-view">
                <h2>{{product_details.name}}</h2>
                <p> <i class="glyphicon glyphicon-map-marker"></i><a href="#">state</a>, <a href="#">city</a>| Added at {{product_details.created}} pm, Ad ID: 987654321</p>
                <div class="flexslider">
                    {% if productimages %}
                    <ul class="slides">

                     {% for productimage in productimages%}
                        <li data-thumb="{{productimage.image.url}}">
                            <img src="{{productimage.image.url}}" />
                        </li>

                        {%endfor%}
                        </ul>
                    {% else %}
                        <img src="{{product_details.image.url}}" />
                    {% endif %}

                </div>
                <!-- FlexSlider -->
                <script defer src="{%static 'js/jquery.flexslider.js'%}"></script>
                <link rel="stylesheet" href="{%static 'css/flexslider.css'%}" type="text/css" media="screen" />

                <script>
                    // Can also be used with $(document).ready()
                    $(window).load(function() {
                        $('.flexslider').flexslider({
                            animation: "slide",
                            controlNav: "thumbnails"
                        });
                    });
                </script>
                <!-- //FlexSlider -->
                <div class="product-details">
                    <h4>Brand : <a href="#">{{product_details.brand}}</a></h4>
                    <h4>Views : <strong>150</strong></h4>
                    <p><strong>Display </strong>: 1.5 inch HD LCD Touch Screen</p>
                    <p><strong>Summary</strong> : {{product_details.descriptions}}</p>

                </div>
            </div>
            <div class="col-md-5 product-details-grid">
                <div class="item-price">
                    <div class="product-price">
                        <p class="p-price">Price</p>
                        <h3 class="rate">$ {{product_details.price}}</h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="condition">
                        <p class="p-price">Condition</p>
                        <h4>{{product_details.condition}}</h4>
                        <div class="clearfix"></div>
                    </div>
                    <div class="itemtype">
                        <p class="p-price">Item Type</p>
                        <h4>{{product_details.category}}</h4>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="interested text-center">
                    <h4>Interested in this Ad?<small> Contact the Seller!</small></h4>
                    <p><i class="glyphicon glyphicon-earphone"></i>00-85-9875462655</p>
                </div>
                <div class="tips">
                    <h4>Safety Tips for Buyers</h4>
                    <ol>
                        <li><a href="#">Contrary to popular belief.</a></li>
                        <li><a href="#">Contrary to popular belief.</a></li>
                        <li><a href="#">Contrary to popular belief.</a></li>
                        <li><a href="#">Contrary to popular belief.</a></li>
                        <li><a href="#">Contrary to popular belief.</a></li>
                        <li><a href="#">Contrary to popular belief.</a></li>
                        <li><a href="#">Contrary to popular belief.</a></li>
                        <li><a href="#">Contrary to popular belief.</a></li>
                        <li><a href="#">Contrary to popular belief.</a></li>
                    </ol>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--//single-page-->
{%endblock%}